/**Modificando o body*/
body{
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
    color: #434A54;
}
@media all and (min-device-width: 1024px) and (max-device-width: 4000px){
    /**Modificações gerais*/
    header{
        margin: 0 15px;
        height: 300px;
        background: linear-gradient(rgba(0,0,0,0.45),rgba(144,64,23,0.45),rgba(218,68,83,0.45),rgba(238,143,73,0.45),rgba(255,206,84,0.45),rgba(140,193,82,0.45), rgba(59,175,218,0.45), rgba(150,122,220,0.45));
    }

    p{
        margin: 0px;
        color: #434A54;
    }
    h1{
        margin: 0px;
    }
    h2{
        margin: 0px;
        color: #434A54;
    }

    h3{
        font-size: 20px;
        color: #434A54;
    }
    h6{
        margin: 0px;
        font-size: 16px;
        color: #434A54;
    }

    /*? Modificando os id e classes*/
    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header h1{
        color: #434A54;
        display: inline;
        font-size: 56px;
        margin: auto;
        margin-bottom: -65px;
    }

    #header-menu{
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .menu-item{
        font-size: 20px;
        padding-right: 20px;
    }
    .menu-item a{
        color: #434A54;
        text-decoration: none;
    }

    .menu-item a:hover{
        padding: 10px;
        border: 1px solid #5a63df;
        border-radius: 25px;
    }

    /**Ajeitando o titulo da página e o Carossel de bandeiras*/
    #title{
        margin-left: 15px;
        margin-top: 15px;
        color: #434A54;
    }
    #title h1{
        background-color: rgba(140,193,82,0.45);
        display: inline-block;
    }
    #title p{
        margin-top: 15px;
    }
    #title p a{
        text-decoration: none;
        color: #5a63df;
    }

    #flag{
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .photos{
        padding: 15px;
    }

    .photos p{
        font-size: 12px;
    }

}

@media all and (min-device-width: 750px) and (max-device-width: 1023px){
    /**Modificações gerais*/
    header{
        margin: 0 15px;
        height: 200px;
        background: linear-gradient(rgba(0,0,0,0.45),rgba(144,64,23,0.45),rgba(218,68,83,0.45),rgba(238,143,73,0.45),rgba(255,206,84,0.45),rgba(140,193,82,0.45), rgba(59,175,218,0.45), rgba(150,122,220,0.45));
    }

    p{
        margin: 0px;
        color: #434A54;
    }
    h1{
        margin: 0px;
    }
    h2{
        margin: 0px;
        color: #434A54;
    }

    h3{
        font-size: 16px;
        color: #434A54;
    }
    h6{
        margin: 0px;
        font-size: 14px;
        color: #434A54;
    }

    /*? Modificando os id e classes*/
    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header h1{
        color: #434A54;
        display: inline;
        font-size: 46px;
        margin: auto;
        margin-bottom: -65px;
    }

    #header-menu{
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .menu-item{
        font-size: 16px;
        padding-right: 20px;
    }
    .menu-item a{
        color: #434A54;
        text-decoration: none;
    }

    .menu-item a:hover{
        padding: 10px;
        border: 1px solid #5a63df;
        border-radius: 25px;
    }

    /**Ajeitando o titulo da página e o Carossel de bandeiras*/
    #title{
        margin-left: 15px;
        margin-top: 15px;
        color: #434A54;
    }
    #title h1{
        background-color: rgba(140,193,82,0.45);
        display: inline-block;
    }
    #title p{
        margin-top: 15px;
    }
    #title p a{
        text-decoration: none;
        color: #5a63df;
    }

    #flag{
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .photos{
        padding: 15px;
    }

    .photos p{
        font-size: 12px;
    }
}

@media all and (min-device-width: 100px) and (max-device-width: 750px){
    /**Modificações gerais*/
    header{
        margin: 0 15px;
        height: 150px;
        background: linear-gradient(rgba(0,0,0,0.45),rgba(144,64,23,0.45),rgba(218,68,83,0.45),rgba(238,143,73,0.45),rgba(255,206,84,0.45),rgba(140,193,82,0.45), rgba(59,175,218,0.45), rgba(150,122,220,0.45));
    }

    p{
        margin: 0px;
        color: #434A54;
    }
    h1{
        margin: 0px;
    }
    h2{
        margin: 0px;
        color: #434A54;
    }

    h3{
        font-size: 16px;
        color: #434A54;
    }
    h6{
        margin: 0px;
        font-size: 14px;
        color: #434A54;
    }

    /*? Modificando os id e classes*/
    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header h1{
        color: #434A54;
        display: inline;
        font-size: 26px;
        margin: auto;
        margin-bottom: -45px;
    }

    #header-menu{
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .menu-item{
        font-size: 14px;
        padding-right: 18px;
    }
    .menu-item a{
        color: #434A54;
        text-decoration: none;
    }

    .menu-item a:hover{
        padding: 10px;
        border: 1px solid #5a63df;
        border-radius: 25px;
    }

    /**Ajeitando o titulo da página e o Carossel de bandeiras*/
    #title{
        margin-left: 15px;
        margin-top: 15px;
        color: #434A54;
    }
    #title h1{
        font-size: 16px;
        background-color: rgba(140,193,82,0.45);
        display: inline-block;
    }
    #title p{
        font-size: 12px;
        margin-top: 15px;
    }

    #title p a{
        text-decoration: none;
        color: #5a63df;
    }

    #flag{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 10px;
    }
    .photos{
        padding: 15px;
    }

    .photos p{
        font-size: 12px;
    }
}