/**Modificando o body*/
body{
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    background-color: #f2f2f2;
}

a{
    text-decoration: none;
    color: #434A54;
}
@media screen and (min-device-width: 1024px){
    /**Modificações gerais*/
    header{
        margin: 0 15px;
        height: 300px;
        background: linear-gradient(rgba(0,0,0,0.45),rgba(144,64,23,0.45),rgba(218,68,83,0.45),rgba(238,143,73,0.45),rgba(255,206,84,0.45),rgba(140,193,82,0.45), rgba(59,175,218,0.45), rgba(150,122,220,0.45));
    }

    p{
        margin: 0px;
        color: #434A54;
    }
    h1{
        margin: 0px;
    }
    h2{
        margin: 0px;
        color: #434A54;
    }

    h3{
        font-size: 20px;
        color: #434A54;
    }

    /*? Modificando os id e classes*/
    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header h1{
        color: #434A54;
        display: inline;
        font-size: 56px;
        margin: auto;
        margin-bottom: -65px;
    }

    #header-menu{
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .menu-item{
        font-size: 20px;
        padding-right: 26px;
    }
    .menu-item a{
        color: #434A54;
        text-decoration: none;
    }

    .menu-item a:hover{
        padding: 10px;
        border: 1px solid #5a63df;
        border-radius: 25px;
    }


    /**Modificando o carrossel informativo*/
    #img{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 25px;
    }
    #img p{
        margin-right: 150px;
        font-size: 12px;
    }
    .carousel-inf{
        margin: 10px 25px 25px 15px;
    }
    #atual{
        display: inline-block;
        background-color: rgba(59,175,218,0.45);
    }
    .carousel-inf figcaption{
        font-size: 14px;
    }
}

@media screen and (min-device-width: 750px) and (max-device-width: 1023px){
    /**Modificações gerais*/
    header{
        margin: 0 15px;
        height: 200px;
        background: linear-gradient(rgba(0,0,0,0.45),rgba(144,64,23,0.45),rgba(218,68,83,0.45),rgba(238,143,73,0.45),rgba(255,206,84,0.45),rgba(140,193,82,0.45), rgba(59,175,218,0.45), rgba(150,122,220,0.45));
    }

    p{
        margin: 0px;
        color: #434A54;
    }
    h1{
        margin: 0px;
    }
    h2{
        margin: 0px;
        color: #434A54;
    }

    h3{
        font-size: 20px;
        color: #434A54;
    }

    /*? Modificando os id e classes*/
    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header h1{
        color: #434A54;
        display: inline;
        font-size: 36px;
        margin: auto;
        margin-bottom: -50px;
    }

    #header-menu{
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .menu-item{
        font-size: 18px;
        padding-right: 20px;
    }
    .menu-item a{
        color: #434A54;
        text-decoration: none;
    }

    .menu-item a:hover{
        padding: 10px;
        border: 1px solid #5a63df;
        border-radius: 25px;
    }

    /**Modificando o carrossel informativo*/
    #img{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 25px;
    }
    #img p{
        margin-right: 70px;
        font-size: 12px;
    }
    .carousel-inf{
        margin: 10px 25px 25px 15px;
    }
    #atual{
        display: inline-block;
        font-size: 18px;
        background-color: rgba(59,175,218,0.45);
    }
}

@media screen and (min-device-width: 410px) and (max-device-width: 749px){
    /**Modificações gerais*/
    header{
        margin: 0 15px;
        height: 150px;
        background: linear-gradient(rgba(0,0,0,0.45),rgba(144,64,23,0.45),rgba(218,68,83,0.45),rgba(238,143,73,0.45),rgba(255,206,84,0.45),rgba(140,193,82,0.45), rgba(59,175,218,0.45), rgba(150,122,220,0.45));
    }

    p{
        margin: 0px;
        color: #434A54;
    }
    h1{
        margin: 0px;
    }
    h2{
        margin: 0px;
        color: #434A54;
    }

    h3{
        font-size: 20px;
        color: #434A54;
    }

    /*? Modificando os id e classes*/
    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header h1{
        color: #434A54;
        display: inline;
        font-size: 24px;
        margin: auto;
        margin-bottom: -45px;
    }

    #header-menu{
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .menu-item{
        font-size: 14px;
        padding-right: 15px;
    }
    .menu-item a{
        color: #434A54;
        text-decoration: none;
    }

    .menu-item a:hover{
        padding: 10px;
        border: 1px solid #5a63df;
        border-radius: 25px;
    }

    /**Modificando o carrossel informativo*/
    #img{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 25px;
    }
    #img p{
        margin-right: 70px;
        font-size: 12px;
    }
    .carousel-inf{
        margin: 10px 25px 25px 15px;
    }
    .carousel-inf figcaption{
        font-size: 9px;
    }

    #atual{
        display: inline-block;
        font-size: 14px;
        background-color: rgba(59,175,218,0.45);
    }
}