
/**Modificando o body*/
body{
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
    color: #434A54;
}
@media screen and (min-device-width: 1024px) and (max-device-width: 4000px){
/**Modificações gerais*/

header{
    margin: 0 15px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.45),rgba(144,64,23,0.45),rgba(218,68,83,0.45),rgba(238,143,73,0.45),rgba(255,206,84,0.45),rgba(140,193,82,0.45), rgba(59,175,218,0.45), rgba(150,122,220,0.45));
}

p{
    margin: 0px;
    color: #434A54;
}
h1{
    margin: 0px;
}
h2{
    margin: 0px;
    color: #434A54;
}

h3{
    font-size: 18px;
    color: #434A54;
}
/*? Modificando os id e classes*/
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header h1{
    color: #434A54;
    display: inline;
    font-size: 56px;
    margin: auto;
    margin-bottom: -65px;
}

#header-menu{
    margin: auto;
    display: flex;
    flex-direction: row;
}

.menu-item{
    font-size: 20px;
    padding-right: 26px;
}
.menu-item a{
    color: #434A54;
    text-decoration: none;
}

.menu-item a:hover{
    padding: 10px;
    border: 1px solid #5a63df;
    border-radius: 25px;
}

#post{
    display: flex;
    float: left;
    justify-content: left;
}

#video h3{
    background-color:rgba(218,68,83,0.45);
    margin-left: 50px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#video iframe{
    width: 650px; 
    height: 350px;
    margin-left: 50px;
}

#column{
    position: absolute;
    left: 700px;
}

#column h3{
    margin-left: 50px;
    background-color: rgba(218,68,83,0.45);
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
    margin-top: 20px;
}

#column p{
    margin-left: 15px;
    margin-right: 30px;
    text-align: left;
}

.clear{
    clear: both;
    border-top: 1px solid #434A54;
    margin: 0px 50px;
}

/**Customizando o storytelling */

#title{
    background-color: rgba(238,143,73,0.45);
    display: inline-block;
    margin: 15px  0px 0px 50px;
}

.circle1{
    margin:15px 0px 0px 60px;
    height: 60px;
    width: 60px;
    background-color: #434A54;
    border-radius: 50px;
    text-align: center;
    color: #434A54;
}

.circle2{
    margin:0px 0px 0px 60px;
    height: 60px;
    width: 60px;
    background-color: #434A54;
    border-radius: 50px;
    text-align: center;
    color: #434A54;
}

#t_1969{
    position: absolute;
    top: 775px;
    left: 150px;
    background-color: rgba(246,187,66,0.45);
}

#t_1977{
    position: absolute;
    left: 150px;
    top: 1005px;
    background-color: rgba(140,193,82,0.45);
}

#t_1980{
    position: absolute;
    left: 150px;
    top: 1240px;
    background-color: rgba(59,175,218,0.45);
}

#t_1983{
    position: absolute;
    left: 150px;
    top: 1465px;
    background-color: rgba(150,122,220,0.50);
}

#t_1985{
    position: absolute;
    left: 150px;
    top: 1695px;
    background-color: rgba(67,74,84,0.40);
}

#t_1990{
    position: absolute;
    left: 150px;
    top: 1926px;
    background-color: rgba(144,64,23,0.40);
}

#t_1992{
    position: absolute;
    left: 150px;
    top: 2158px;
    background-color: rgba(218,68,83,0.45);
}

#t_1996{
    position: absolute;
    left: 150px;
    top: 2387px;
    background-color: rgba(238,143,73,0.45);
}

#t_1997{
    position: absolute;
    left: 150px;
    top: 2615px;
    background-color: rgba(248,187,66,0.75);
}

#t_2005{
    position: absolute;
    left: 150px;
    top: 2849px;
    background-color: rgba(140,193,82,0.45);
}

#t_2019{
    position: absolute;
    left: 150px;
    top: 3078px;
    background-color: rgba(59,175,218,0.45);
}

.p_history{
    position: absolute;
    left: 150px;
    margin-right: 30px;
}
.p_history p a{
    text-decoration: none;
    color: #1034d6;
}

.line{
    height: 170px;
    margin-left: 90px;
    border-left: 1px solid black;
}

/**customizando o botão de esconder o conteúdo*/

#show{
    margin-top: 15px;
    margin-left: 45%;
    margin-bottom: 10px;
    color: #101216;
}
#show:hover{
    cursor: pointer;
}

#hide{
    margin-left: 5px;
    color: #101216;
}
#hide:hover{
    cursor: pointer;
}

/**Customizando o quadro de imagens*/

#img{
    margin-top: 30px;
    margin-left: 50px;
    background-color: #dbdbdb70;
}
#img p{
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: left;
}

#atual{
    margin-top: 15px;
    margin-left: 50px;
    display: inline-block;
    background-color: rgba(248,187,66,0.75);
}

}

@media screen and (min-device-width: 700px) and (max-device-width: 1023px){

        /**Modificações gerais*/
    
    header{
        margin: 0 15px;
        height: 200px;
        background: linear-gradient(rgba(0,0,0,0.45),rgba(144,64,23,0.45),rgba(218,68,83,0.45),rgba(238,143,73,0.45),rgba(255,206,84,0.45),rgba(140,193,82,0.45), rgba(59,175,218,0.45), rgba(150,122,220,0.45));
    }
    
    p{
        margin: 0px;
        color: #434A54;
    }
    h1{
        margin: 0px;
    }
    h2{
        margin: 0px;
        color: #434A54;
    }
    
    h3{
        font-size: 18px;
        color: #434A54;
    }
    /*? Modificando os id e classes*/
    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #header h1{
        color: #434A54;
        display: inline;
        font-size: 56px;
        margin: auto;
        margin-bottom: -40px;
    }
    
    #header-menu{
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    
    .menu-item{
        font-size: 20px;
        padding-right: 20px;
    }
    .menu-item a{
        color: #434A54;
        text-decoration: none;
    }
    
    .menu-item a:hover{
        padding: 10px;
        border: 1px solid #5a63df;
        border-radius: 25px;
    }
    
    #post{
        display: flex;
        float: left;
        justify-content: left;
    }
    
    #video h3{
        background-color:rgba(218,68,83,0.45);
        margin-left: 50px;
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    
    #video iframe{
        width: 650px; 
        height: 350px;
        margin-left: 50px;
    }
    
    #column{
        position: absolute;
        left: 700px;
    }
    
    #column h3{
        margin-left: 15px;
        background-color: rgba(218,68,83,0.45);
        display: inline-block;
        margin-top: 25px;
        margin-right: 50px;
        margin-top: 20px;
    }
    
    #column p{
        margin-left: 15px;
        margin-right: 30px;
        margin-bottom: 10px;
        text-align: left;
    }
    
    .clear{
        clear: both;
        border-top: 1px solid #434A54;
        margin: 0px 50px;
    }
    
    /**Customizando o storytelling */
    
    #title{
        background-color: rgba(238,143,73,0.45);
        display: inline-block;
        margin: 15px  0px 0px 50px;
        font-size: 20px;
    }
    
    .circle1{
        margin:15px 0px 0px 60px;
        height: 60px;
        width: 60px;
        background-color: #434A54;
        border-radius: 50px;
        text-align: center;
        color: #434A54;
    }
    
    .circle2{
        margin:0px 0px 0px 60px;
        height: 60px;
        width: 60px;
        background-color: #434A54;
        border-radius: 50px;
        text-align: center;
        color: #434A54;
    }
    
    #t_1969{
        position: absolute;
        top: 665px;
        left: 150px;
        background-color: rgba(246,187,66,0.45);
    }
    
    #t_1977{
        position: absolute;
        left: 150px;
        top: 905px;
        background-color: rgba(140,193,82,0.45);
    }
    
    #t_1980{
        position: absolute;
        left: 150px;
        top: 1140px;
        background-color: rgba(59,175,218,0.45);
    }
    
    #t_1983{
        position: absolute;
        left: 150px;
        top: 1365px;
        background-color: rgba(150,122,220,0.50);
    }
    
    #t_1985{
        position: absolute;
        left: 150px;
        top: 1595px;
        background-color: rgba(67,74,84,0.40);
    }
    
    #t_1990{
        position: absolute;
        left: 150px;
        top: 1826px;
        background-color: rgba(144,64,23,0.40);
    }
    
    #t_1992{
        position: absolute;
        left: 150px;
        top: 2058px;
        background-color: rgba(218,68,83,0.45);
    }
    
    #t_1996{
        position: absolute;
        left: 150px;
        top: 2287px;
        background-color: rgba(238,143,73,0.45);
    }
    
    #t_1997{
        position: absolute;
        left: 150px;
        top: 2515px;
        background-color: rgba(248,187,66,0.75);
    }
    
    #t_2005{
        position: absolute;
        left: 150px;
        top: 2749px;
        background-color: rgba(140,193,82,0.45);
    }
    
    #t_2019{
        position: absolute;
        left: 150px;
        top: 2978px;
        background-color: rgba(59,175,218,0.45);
    }
    
    .p_history{
        position: absolute;
        left: 150px;
        font-size: 14px;
        margin-right: 30px;
    }
    .p_history p a{
        text-decoration: none;
        color: #1034d6;
    }
    
    .line{
        height: 170px;
        margin-left: 90px;
        border-left: 1px solid black;
    }
    
    /**customizando o botão de esconder o conteúdo*/
    
    #show{
        margin-top: 15px;
        text-decoration: underline;
        margin-left: 45%;
        margin-bottom: 10px;
        color: #101216;
    }
    #show:hover{
        cursor: pointer;
    }
    
    #hide{
        margin-left: 10px;
        text-decoration: underline;
        color: #101216;
    }
    #hide:hover{
        cursor: pointer;
    }
    
    /**Customizando o quadro de imagens*/
    
    #img{
        margin: 25px 0px 0px 50px;
        background-color: #dbdbdb70;
    }
    #img p{
        margin-left: 50px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 15px;
        font-size: 14px;
        text-align: left;
    }

    #atual{
        margin-top: 15px;
        margin-left: 50px;
        font-size: 18px;
        display: inline-block;
        background-color: rgba(248,187,66,0.75);
    }
}

@media screen and (min-device-width: 410px) and (max-device-width: 699px){


        /**Modificações gerais*/
    
    header{
        margin: 0 10px;
        height: 100px;
        background: linear-gradient(rgba(0,0,0,0.45),rgba(144,64,23,0.45),rgba(218,68,83,0.45),rgba(238,143,73,0.45),rgba(255,206,84,0.45),rgba(140,193,82,0.45), rgba(59,175,218,0.45), rgba(150,122,220,0.45));
    }
    
    p{
        margin: 0px;
        color: #434A54;
    }
    h1{
        margin: 0px;
    }
    h2{
        margin: 0px;
        color: #434A54;
    }
    
    h3{
        font-size: 16px;
        color: #434A54;
    }
    /*? Modificando os id e classes*/
    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #header h1{
        color: #434A54;
        display: inline;
        font-size: 22px;
        margin: auto;
        margin-bottom: -20px;
    }
    
    #header-menu{
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    
    .menu-item{
        font-size: 12px;
        padding-right: 15px;
    }
    .menu-item a{
        color: #434A54;
        text-decoration: none;
    }
    
    .menu-item a:hover{
        padding: 10px;
        border: 1px solid #5a63df;
        border-radius: 25px;
    }
    
    #post{
        display: flex;
        justify-content: left;
    }
    
    #video h3{
        background-color:rgba(218,68,83,0.45);
        margin-left: 15px;
        padding: 0px;
        margin-right: 15px;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    
    #video iframe{
        width: 380px; 
        height: 250px;
        margin-left: 15px;
    }
    
    
    #column h3{
        margin-left: 15px;
        background-color: rgba(218,68,83,0.45);
        display: inline-block;
        margin-top: 20px;
        margin-right: 15px;
    }
    
    #column p{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        text-align: left;
    }
    
    .clear{
        clear: both;
        border-top: 1px solid #434A54;
        margin: 0px 15px;
    }
    
    /**Customizando o storytelling */
    
    #title{
        background-color: rgba(238,143,73,0.45);
        display: inline-block;
        margin: 15px  0px 0px 25px;
        font-size: 16px;
    }
    
    .circle1{
        margin:10px 0px 0px 25px;
        height: 40px;
        width: 40px;
        background-color: #434A54;
        border-radius: 20px;
        text-align: center;
        color: #434A54;
    }
    
    .circle2{
        margin:0px 0px 0px 25px;
        height: 40px;
        width: 40px;
        background-color: #434A54;
        border-radius: 20px;
        text-align: center;
        color: #434A54;
    }
    
    #t_1969{
        position: relative;
        margin-top: -30px;
        margin-bottom: 5px;
        margin-left: 70px;
        margin-right: 30px;
        font-size: 14px;
        background-color: rgba(246,187,66,0.45);
    }
    
    #t_1977{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(140,193,82,0.45);
    }
    
    #t_1980{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(59,175,218,0.45);
    }
    
    #t_1983{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(150,122,220,0.50);
    }
    
    #t_1985{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(67,74,84,0.40);
    }
    
    #t_1990{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(144,64,23,0.40);
    }
    
    #t_1992{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(218,68,83,0.45);
    }
    
    #t_1996{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(238,143,73,0.45);
    }
    
    #t_1997{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(248,187,66,0.75);
    }
    
    #t_2005{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(140,193,82,0.45);
    }
    
    #t_2019{
        position: relative;
        margin-left: 70px;
        margin-top: -30px;
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: rgba(59,175,218,0.45);
    }
    
    .p_history{
        
        position: relative;
        margin-left: 70px;
        margin-top: 20px;
        font-size: 10px;
        margin-right: 30px;
        text-indent: 0px;
    }
    .p_history p a{
        text-decoration: none;
        color: #1034d6;
    }
    
    .line{
        display: none;
        position: relative;
        height: 150px;
        left: 35px;
        margin-top: -127px;
        border-left: 1px solid black;
    }
    
    /**customizando o botão de esconder o conteúdo*/
    
    #show{
        margin-top: 10px;
        text-decoration: underline;
        margin-left: 40%;
        margin-bottom: 10px;
        color: #101216;
    }
    #show:hover{
        cursor: pointer;
    }
    
    #hide{
        margin-left: 10px;
        text-decoration: underline;
        color: #101216;
    }
    #hide:hover{
        cursor: pointer;
    }
    
    /**Customizando o quadro de imagens*/
    
    #img{
        margin: 15px 0px 0px 30px;
        background-color: #dbdbdb70;
    }
    #img p{
        margin-left: 30px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: left;
    }
    #atual{
        margin-top: 15px;
        margin-left: 30px;
        font-size: 18px;
        display: inline-block;
        background-color: rgba(248,187,66,0.75);
    }
}
